*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.background-container{
    height: 100vh;
    background:linear-gradient(to bottom,#00a884,#00a884 20%,#d1d7db 20%,#d1d7db );
    padding-top: 5vh;
}

main{
    height: 98%;
    width: 98%;
    background-color: #F0F2F5;
    margin: 0 auto; /* the top/bottom margin is 0, and the left/right margin is auto, */
    box-shadow: 0 4px 4px 2px rgba(0,0,0,0.05);
    display: grid;
    grid-template-columns: 30% 70%;
    /* max-width: 1200px; */
}

section{
    border: 0.1px solid #eae6df;
}

.user-list{
    background-color: white;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F0F2F5;
}

nav img{
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
}

menu button,.chat-bottom button{
    border: none;
    background: transparent;
    font-size: 1.5rem;
    margin-left: 1rem;
}

.padding{
    padding: 0.5rem 0.5rem;
}

.search-container{
    background-color: white;
    border-bottom: 1px solid rgb(233, 228, 228);
    padding: 0.5rem 0.5rem;
}

.input-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 2.5rem;
    padding: 0 1rem;
    background: #F0F2F5;
    border-radius: 10px;
}

input{
    border:none;
    outline:none;
    background-color: transparent;
    width: 100%;
    margin-left: 1rem;
}

ul{
    list-style-type: none;
   
}

ul li{
    display: grid;
    grid-template-columns: 18% 70%;
    /* background-color: white; */
    /* border-top: 1px solid black; */
    align-items: center;
}

.column{
    /* border-top: 1px solid rgb(233, 228, 228); */
    border-bottom: 1px solid rgb(233, 228, 228);
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

li img{
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
}

.name{
    display: flex;
    justify-content:space-between;
    /* padding-bottom: 2px; */
}

.name span{
    font-size: 1.2rem;

}

body{
    font-family: sans-serif;
}

.name time{
    color: #666;
    font-size: 0.9rem;
}

.preview{
    color: #666;
    font-size: 0.95rem;
}

.chat-container{
    background-image:url("https://user-images.githubusercontent.com/15075759/28719144-86dc0f70-73b1-11e7-911d-60d70fcded21.png");
    background-color: #F0F2F5;
    border-left: 0.5px solid #ddd;
}

.person .status{
    font-size: 0.8rem;
    color: #666;
}

.profile{
    display: flex;
    align-items: center;
}

.person{
    margin-left: 1rem;
}

.name{
    padding-bottom: 0.1rem;
}

.messages-container{
    padding: 0 3rem;
    padding-top: 1rem;
}

.message{
    margin-top: 9px;
    border-radius: 10px;
    padding: 8px;
    font-size: 0.9rem;
    max-width: 60%;
}

.in{
    background-color: white;
    margin-right: auto;
}

.out{
    background-color: #d9fdd3;
    margin-left: auto;
}

.message.in + .message.in,
.message.out + .message.out{
    margin-top: 2px;
}

.chat-bottom{
  display: flex;
  background-color: #F0F2F5;
  padding: 0.4rem;
  justify-content: space-between;
  align-items: center;
  margin: 0;
}

.chat-bottom input[type=text] {
    background-color: white;
    width: 100%;
    font-size: 15px;
    /* box-sizing: border-box; */
    border-radius: 10px;
    padding: 14px 14px;
    margin: 5px 8px;
  }